//show flash message
if($("#success").length){
  $("#success").show();
}else{
  $("body").prepend('<%= escape_javascript("<div id='success'>Team added to season</div>").html_safe %>')
}
//reload teams in season
var selection = $("#s-season").find(":selected").text();
retrieveSeasonTeams(selection)
//reload available teams
$("#static-teamslist").load(location.href + " #infob");
