//show flash message
$("body").prepend('<%= escape_javascript("<div id='success'>Team updated.</div>").html_safe %>');
//reload teams in season
var selection = $("#s-season").find(":selected").text();
retrieveSeasonTeams(selection)
//reload available teams
$("#static-teamslist").load(location.href + " #infob");
$("#team-main").load(location.href + " #team-info");
updateEventTeams(selection, "<%= @old_team_name %>", "<%= @team.name %>")
