html, body {
    max-width: 100%;
    height: 100%;
    width: 100%;
	  margin: 0px;
	  padding: 0px;
    overflow: hidden;
}/*force no horizontal scroll*/

#mask{
  position: fixed;

  display: block;
  background: rgba(0,0,0,0.7);

  z-index: 99;

  height: 100%;
  width: 100%;
}

table{
  border-collapse: collapse;
}

*{
  font-family: 'District', Tahoma, Geneva, sans-serif;
  }

a, a:visited{
	color: inherit;
	text-decoration: none;
}/*force no decoration*/

.no-resize{
  width: 100%;
  resize: none;
}

.float-form > table > tbody > tr > td > label{
  float:left;
  text-align: left;
  width: 20%;
  max-width: 120px;
  min-width: 70px;
}

.full-form{
  float: left;
  width: 100%;
}
/*----------------BUTTONS------------------------------*/
.new-block{
  display: inline-block;
  background: white;

  float: right;

  color: #818181;
  font-size: 20px;
  line-height: 20px;
  text-align: center;

  padding: 1px;

  width: 20px;
  height: 20px;

  border: 1px solid #DBDBDB;
  border-radius: 5px;
}
.new-block:hover{
  color: white;

  cursor: hand; //IE Support
  cursor: pointer;

  background: #19A3D1;
}
.close-block{
  position: absolute;
  right: 10px;
  top: 10px;

  display: inline-block;
  background: white;

  float: right;

  color: #818181;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  padding: 1px;

  width: 20px;
  height: 20px;

  border: 1px solid #DBDBDB;
  border-radius: 5px;
}
.close-block:hover{
  color: white;

  cursor: hand; //IE Support
  cursor: pointer;

  background: #FF1919;
}

.submit-button{
  display: block;
  background: white;

  color: #818181;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  border: 1px solid #DBDBDB;
  border-radius: 5px;
}
.submit-button:hover{
  color: white;

  cursor: hand; //IE Support
  cursor: pointer;

  background: #19A3D1;
}
/*----------------Menu related styling-----------------*/
div.menublock {
	display: inline-block;
	background: #F1F1F1;
	width:100%;
	height: auto;
	border-bottom: 1px solid #CFCFCF;
	box-shadow: 0px -1px 7px #888888;
}

div.menutitlecontainer{
	float: left;
}
div.menutitle{
	display: table-cell;
	background: #F1F1F1;
	height: 40px;

	vertical-align: middle;
	text-align: center;
	font-size: 25px;
	padding-left: 2em;
	padding-right: 0.5em;
}

.menucontainer{
	float: right;
	margin: 0;
    padding: 0;
    list-style-type: none;
}
.menucontainer > li{ float: left; }
.menuitem:hover > ul{
	visibility: visible;
	z-index: 1;
}
.menuitem > ul > li:hover{
	background: #19A3D1;
	color: white;
}
.menuitem > ul{
	padding: 0;
	list-style-type: none;
	background: #127292;

	position: absolute;
	top: 2.99vw;
	right: 0;

    visibility: hidden;
	text-align: center;
	color: white;
	font-size: 14px;

}
.menuitem {
	position: relative;
  display: block;
	height: 40px;
	background: #F1F1F1;

	line-height: 40px;
	text-align: center;
	font-size: 14px;
	color: #333333;
	padding-left: 0.5em;
	padding-right: 0.5em;

	-webkit-transition: background .5s, color .25s;
	transition: background .5s, color .25s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.menuitem:hover{
	background:#19A3D1;
	color: white;
}

/*---------BANNER DIV-------------------------*/
div.bannerimage{
	max-width: 100%;
	height: auto;
}

div.bannersubcontainer{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
div.bannercontent{
	display: table-cell;
	border: solid white;
	border-radius: 0.5vw;
	border-style: thin;

	vertical-align: middle;
	text-align: center;
	font-size: 16px;
	color: white;
	padding: 0.25em;

	-webkit-transition: background 0.5s, color 0.5s;
	transition: background 0.5s, color 0.5s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}
div.bannercontent:hover{
	background: white;
	color: black;
}

/*---------------SCROLLABLE CONTAINER----------------------*/
div.maincontainer{
	position: absolute;
	max-width: 100%;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
div.subcontainer{
	width: auto;
  height: 80%;
	overflow: auto;
  padding: 50px 65px 50px 50px
}
/*-----------------------OTHER DIVS-----------------------------*/
#float-form{
  display: table;
  width: 20%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -10%;
  margin-left: -10%;
  z-index: 100;

  background: white;
  border-radius: 20px;

  text-align: center;

  min-width: 250px;
  max-width: 250px;
  padding: 30px 0px 30px 0px;

  font-size: 18px;
}
/*---------------------CALENDAR-----------------------------*/
.calendar{
  border-collapse: collapse;
  border: 1px solid #DBDBDB;

  float: left;

  width: 70%;
  height: 100%;
}
.calendar > tbody > tr{
  background: white;
}

.calendar > tbody > tr > th{
  border-collapse: collapse;
  border: 1px solid #DBDBDB;

  background: #E4E4E4;

  font-size: 20px;
  font-weight: normal;
  text-align: center;

  width: 14.28%;
  height: auto;

  padding: 10px;
}
.calendar > tbody > tr > td:hover{ background: #CFCFCF;}
.calendar > tbody > tr > td{
  border-collapse: collapse;
  border: 1px solid #DBDBDB;

  font-size: 18px;
  padding-left: 10px;

  width: 14.28%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.month{
  font-size: 36px;
}

.not-month {
  border-collapse: collapse;
  border: 1px solid #DBDBDB;

  background: #F4F4F4;

  color: #818181;
  font-size: 18px;
  padding-left: 10px;

  width: 14.28%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.today{
  border-collapse: collapse;
  border: 1px solid #DBDBDB;

  background: #FFFFB2;

  font-size: 18px;
  padding-left: 10px;

  width: 14.28%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.events_block{
  display: block;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #DBDBDB;
  border-radius: 5px;

  background: white;

  font-size: 14px;
  color: black;

  width:  20%;
  height: auto;
  padding: 12px;

  overflow-y: auto;
}
