<div class="menublock">
  <div class="menutitlecontainer">
    <div class="menutitle">Timetrak <sub>Scheduler</sub></div>
  </div>
  <div class="menucontainer" style="margin-right: 2em;">
    <a class="menuitem" >LOGOUT</a>
  </div>
  <div class="menucontainer">
    <a class="menuitem">MY ACCOUNT</a>
  </div>
  <div class="menucontainer">
    <a class="menuitem">CALENDARS</a>
  </div>
</div>
