<body>
  <div id="mask"></div>
  <%= render 'layouts/flash_msgs' %>
  <%= render 'layouts/header' %>
  <div class="maincontainer">
    <div class="subcontainer">
      <h2>Manage:</h2>
      <div id="season-main">
        <div id="season-select">
          <%= collection_select(current_account, :seasons_id, @seasons, :id, :title, {include_blank: "Select a season"}, {class: "large-selector", id: "s-season"}) %>
          <div class="new-block" id="new-season">+</div>
        </div>
        <div id="season-info">
        </div>
      </div>
      <div id="team-main">
        <div id="team-select">
        </div>
        <div id="team-info">
        </div>
      </div>
    </div>
  </div>
</body>
