<DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Timetrak</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</head>
	<body>
		<div class="menublock">
			<div class="menutitlecontainer">
				<div class="menutitle">Timetrak <sub>Scheduler</sub></div>
			</div>
			<div class="menucontainer" style="margin-right: 2em;">
				<div class="menuitem">LOGOUT</div>
			</div>
			<div class="menucontainer">
				<div class="menuitem">MY ACCOUNT</div>
			</div>
			<div class="menucontainer">
				<div class="menuitem">CALENDARS</div>
			</div>
		</div>
		<div class="maincontainer">
			<div class="subcontainer">
        <table id="calendars">
          <%= @calendars.each do |c| %>
              <tr><td><% link_to c.name, c, remote: true %></td></tr>
          <% end %>
        </table>
			</div>
		</div>
	</body>
  <%= yield -%>
</html>
