// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button-main{
  display: inline-block;

  border: 0;
  background: transparent;
  font-size: 16px;
  font-weight: normal;
  text-align: center;

  margin-left: 3px;

  padding: 5px;

  width: auto;
}
.button-main:hover{
  color: white;

  cursor: hand; //IE Support
  cursor: pointer;
}

.standard-button{
  color: white;
  float: right;
  background: #4CC8F0;
}
.standard-button:hover{ background: #19A3D1;}
.danger-button{
  color: white;
  background: #FF1919;
}
.danger-button:hover{ background: #CC1414;}

.button-block{
  display: inline-block;
  background: white;

  float: right;

  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;

  padding: 1px;

  width: 20px;
  height: 20px;
}
.button-block:hover{
  color: white;

  cursor: hand; //IE Support
  cursor: pointer;
}
.standard-block{ color: #818181;}
.standard-block:hover{ background: #19A3D1;}

.danger-block{
  position: absolute;
  right: 10px;
  top: 10px;

  color: white;
  background: #FF1919;
  font-size: 16px;
}
.danger-block:hover{ background: #CC1414;}

.info-button{
  float: left;
  color: #818181;
}
.info-button:hover{ background: #19A3D1;}

.submit-button{
  color: white;
  background: #4CC8F0;
  font-size: 18px;
}
.submit-button:hover{ background: #19A3D1;}
