// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.calendar{
  display: table;

  float: left;

  width: calc(75% - 60px);
  height: calc(100% - 47px);
}
.calendar-row{
  display: table-row;
  background: white;
}

.calendar-header{
  display: table-cell;

  font-size: 20px;
  font-weight: bold;
  text-align: center;

  padding: 10px;

  height: 20px;
  width: 14.28%;
}
.calendar-cell{
  display: table-cell;

  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;

  width: 14.28%;
  height: auto;
}
.calendar-event-wrapper{
  width: 102%;
  padding-right: 30px;
  max-height: 100%;
  overflow-y: auto;
}

.month{
  font-size: 36px;
  height: 47px;
}

.not-month {
  background: #E8E8E8;

  color: #818181;
  font-size: 18px;
  padding-left: 10px;

  width: 14.28%;
}

.today{
  background: #FFFFB2;

  font-size: 18px;
  padding-left: 10px;

  width: 14.28%;
}

.events_block{
  display: block;

  background: white;

  font-size: 14px;
  color: black;

  width: calc(25% - 24px);
  height: calc(100% - 71px);
  padding: 12px;

  overflow-y: auto;
}

.event-item{
  position: relative;

  margin: 3px;
  display: block;
  color: white;
  border-radius: 5px;
  background: #24A5C3;

  padding: 2px 2px 2px 5px;
}
.event-item:hover{
  cursor: hand; //IE Support
  cursor: pointer;
  color: white;
  background: #2A44AB;
}

.event-item-passed{
  position: relative;

  margin: 3px;
  display: block;
  border-radius: 5px;
  background: #8CCAD8;

  color: white;

  padding: 2px 2px 2px 5px;
}
.event-item-passed:hover{
  cursor: hand; //IE Support
  cursor: pointer;
  color: white;
  background: #6D7CB5;
}

.sinfo-block{
  font-size: 16px;
  line-height: 16px;
}

.linfo-block{
  display: none;
  font-size: 16px;
  line-height: 16px;
}
