// Place all the styles related to the account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.no-resize{
  resize: none;
}

.float-container{
  background: rgba(255,255,255,0.5);
  border-radius: 20px;
  text-align: center;
  width: 50%;
  min-width: 250px;
  padding: 30px;

  font-size: 18px;
}

.full-form{
  width: calc(100% - 20px);
  font-size: 24px;
}

.float-form{
  display: none;
  width: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -15%;
  margin-left: -20%;
  z-index: 100;

  background: white;
  border-radius: 20px;

  text-align: center;

  min-width: 250px;
  padding: 30px;

  font-size: 36px;
}

#float-form-table{
  display: table;
  margin: 0 auto;
  width: 90%;
  font-size: 20px;
}

#float-form-input{
  background: transparent;
  border-style: none;
  border-width: thin;
  border-bottom-style: solid;
  margin: 10px;
  font-size: 20px;
}

#float-form-input-date{
  display: inline-cell;
  border-style: none;
  border-width: thin;
  border-bottom-style: solid;
  margin: 10px;
  width: auto;
  font-size: 16px;
}

.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -15%;
  margin-left: -20%;
  z-index: 100;

  background: white;
  border-radius: 20px;
  border: solid 1px #E8E8E8;
  box-shadow: 10px 10px 10px #E8E8E8;

  text-align: left;

  min-width: 250px;
  padding: 30px;

  font-size: 18px;
}

#text-area{
  border-style: none;
  border-width: thin;
  width: 90%;
  font-size: 20px;
  padding: 0;
}

.large-selector{
  font-size: 20px;
  border: none;
}
