// Place all the styles related to the seasons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#season-main{
  display: inline-block;
  vertical-align: top;

  background: white;

  font-size: 16px;
  color: black;
  padding: 12px;

  overflow: auto;
  width: calc(50% - 56px);
  height: calc(100% - 26px);
}

#season-select{
  padding: 5px;
  color: white;
  border-bottom: 1px solid #E6E6E6;

  height: 30px;
}

#season-info{
  display: none;
  padding: 5px;
}

#static-teamslist{
  display: none;
  padding: 5px;
}

#static-venueslist{
  display: none;
  padding: 5px;
}

#team-main{
  display: inline-block;
  vertical-align: top;

  background: white;

  font-size: 16px;
  color: black;
  padding: 12px;


  width: calc(50% - 56px);
  max-height: calc(100% - 26px);
  height: calc(100% - 26px);
}

#team-info{
  display: none;
  padding: 5px;
  overflow: auto;
}

.a-left{ text-align: left;}
.a-right{ text-align: right;}
.wide-cell{  padding: 5px; }
