<body>
  <%= render 'layouts/flash_msgs' %>
  <%= render 'layouts/header' %>
  <div class="maincontainer">
    <div class="subcontainer">
      List all teams owned by user
    </div>
  </div>
</body>
