<% if @account.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @account.errors.full_messages.each do |msg| %>
      <%= content_tag :div, msg, id: 'error' %>
    <% end %>
    </ul>
  </div>
<% end %>
